@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
a{
    color: white;
}
section{
    display: flex;
}
.flex-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal{
    position: fixed;
    right: 0;
    width: 85vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
}
.modal-container{
    position: relative;
    width: 250px;
    left: 40%;
    top: 35%;
    text-align: center;
    border-radius: 5px;
}
.modal-container form{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.enviar{
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    background-color: #BF1E2E;
    color: white;
    font-weight: bold;
}
.modal-container div{
    background-color: #58585A;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar{
    min-width: 200px;
    width: 15vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    z-index: 1000;
}
.logo-container img{
    width: 80%;
}
.user-container{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.user-container img{
    width: 20%;
}
.user-container h4{
    margin-top: 10px;
}
.diretorios img{
    width: 25px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.diretorios a{
    display: block;
    text-align: left;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.diretorios a:hover{
    transition: .5s;
    background-color: #BF1E2E;
}
.add{
    margin-top: 10px;
}
.sair{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: -10%;
}
.sair img{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
h1{
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content{
    justify-content: center;
    width: 85vw;
    margin-left: clamp(200px, 15vw, 15vw);
}
.content-container{
    background-color: white;
    width: 80%;
    border-radius: 5px;
    padding-bottom: 20px;
}
.content-container form{
    flex-wrap: wrap;
}
.content-container form div{
    display: inline-block;
    vertical-align: top;
}
.select-container{
    float: right;
    margin-right: 5%;
    margin-left: 0!important;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 40px;
    background-color: #58585A;
}
.cabecalho h3{
    margin-left: 20px;
    margin-top: 7px;
}
.cabecalho h4{
    margin-right: 20px;
    margin-top: 9px;
}
.content-container form input{
    border: none;
    border-radius: 5px;
    background-color: #58585A;    
    height: 35px;    
    margin-top: 10px;   
    width: 100%;
    color: white;
    font-size: 16px;
    opacity: 1; /* required on iOS */
}
.content-container form input::placeholder{
    color: white;
    padding-left: 5px;
}
input:focus{
    outline: none;
}
.content-container form h4{
    margin-top: 10px;
}
.content-container form div{
    width: 26.7%;
    margin-left: 5%;
}
.nome-veiculo{
    width: 90%!important;
}
.ano-veiculo h3{
    font-size: 40px;
    display: inline;
    vertical-align: middle;
}
.ano-veiculo h4{
    font-size: 16px;
}
.ano-veiculo input{
    width:48%!important;
    min-width: 45%!important;
}
.cor-potencia div{
    width: 100%!important;
    margin-left: 0!important;
    display: inline-block;
}
.select-container{
    margin-top: 35px;
}
.select-container select{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    border: 1px solid black;
    color: black!important;
}
.textarea-container{
    margin-left: 3.4vw;
    width: 58.4%!important;
}
.textarea-container textarea{
    background-color: #58585A;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    height: 80px;
    color: white;
    opacity: 1;
}
.opcionais{
    width: 95%!important;
    flex-wrap: wrap;
    display: flex!important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.opcionais div{
    display: inline-block;
    width: 20%!important;
    min-width: 180px;
    margin: 0!important;
    word-break: keep-all;
}
.opcionais div label{
    white-space: nowrap;
}
.opcionais div input{
    width: 20px;
    vertical-align: middle;
    margin: 0!important;
}
.file-container{
    width: 90%!important;
    margin-top: 10px;
}
.input-file-container{
    width: 100%!important;
    margin-left: 0!important;
    display: flex!important;
    justify-content: space-between;
    margin-top: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.input-file-container div{
    margin-left: 0!important;
    width: 90%!important;
}
.file-container div input{
    width: 80%!important;
    height: 30px!important;
    margin-top: 0!important;
    border-radius: unset;
    padding-left: 5px;
}
.img-container{
    width: 60px!important;
    max-height: 30px;
    text-align: center;
    margin: 0!important;
    margin-right: 5px!important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.img-container:hover{
    cursor: pointer;
}
.img-container img{
    height: 25px;
}
.nome-input{
    white-space: nowrap;
    min-width: 70px;
}
input[type=file]::-webkit-file-upload-buttonm{
    display: none;
}
input[type=file]::file-selector-button {
    background-color: #58585A!important;
    border: none;
    color: white;
    margin-top: 5px;
}
.submit{
    background-color: #BF1E2E!important;
    width: 15%!important;
    font-size: 20px!important;
    margin-left: 42.5%;
}
.toggle{
    display: none;
}
.reset{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
}
.reset:hover{
    cursor: pointer;
}
@media screen and (max-width: 1200px) and (min-width: 960px){
    .content-container{
        width: 95%;
    }
    .file-container{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

}
@media screen and (max-width: 959px) and (min-width: 601px){
    .sidebar{
        min-width: 0;
        width: 0vw;
        white-space: nowrap;
        transition: .5s;
    }
    .toggle{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        background-color: black;
        transition: .5s;
        left: 0;
        z-index: 1000;
    }
    .toggle img{
        height: 20px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 10px;
        transition: .5s;
    }
    .logo-container img{
        width: 150px;
    }
    .user-container img{
        width: 30px;
        height: 30px;
    }
    .user-container h4{
        font-size: 14px;
        margin-top: 5px;
    }
    .diretorios a{
        font-size: 14px;
        padding-left: 20px;
    }
    .diretorios img{
        width: 20px;
    }
    .modal{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .modal-container{
        left: 0;
    }
    .content{
        width: 95vw;
        margin-left: 2.5vw;
        margin-top: 30px;
    }
    .content-container{
        width: 100%;
        margin-left: 0;
    }
    .file-container div input{
        width: 70%!important;
    }
}
@media screen and (max-width:600px){
    
    .modal-container{
        left: 0;
        width: 60%;
    }
    .modal{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .sidebar{
        min-width: 0;
        width: 0vw;
        white-space: nowrap;
        transition: .5s;
    }
    .toggle{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        background-color: black;
        transition: .5s;
        left: 0;
        z-index: 1000;
    }
    .toggle img{
        height: 20px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 10px;
        transition: .5s;
    }
    .logo-container img{
        width: 150px;
    }
    .user-container img{
        width: 30px;
        height: 30px;
    }
    .user-container h4{
        font-size: 14px;
        margin-top: 5px;
    }
    .diretorios a{
        font-size: 14px;
        padding-left: 20px;
    }
    .diretorios img{
        width: 20px;
    }
    .content{
        width: 95vw;
        margin-left: 2.5vw;
        margin-top: 30px;
    }
    .content-container{
        width: 100%;
        margin-left: 0;
    }
    .cabecalho h3{
        font-size: 16px;
    }
    .cabecalho h4{
        font-size: 12px;
    }
    .content-container form div, .ano-veiculo h4{
        font-size: 12px!important;
    }
    .content-container form input::placeholder{
        padding-left: 1px;
        font-size: 11px;
    }
    .ano-veiculo h3{
        display: none;
    }
    .select-container{
        margin-top: 20px;
    }
    .file-container div input{
        width: 50%!important;
    }
    .input-file-container{
        width: 95%!important;
    }
    .file-input{
        font-size: 12px!important;
    }
    .img-container img{
        height: 20px;
        margin-top: 5px;
    }
    .submit{
        width: 30%!important;
        font-size: 18px!important;
        margin-left: 36.5%;
        margin-bottom: 10px;
    }
}