.flex-box{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact-container h4, .contact-container h6{
    width: 90%;
}
.login-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.form-contato{
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 30px;
}
.name-email{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.name-email input{
    width: 49%;
}
.textarea{
    margin-bottom: 20px;
}
@media screen and (min-height:900px) and (min-width:861px){
    .footer{
        position: absolute;
        bottom: 0;
    }
}
@media screen and (min-height:1210px) and (max-width:861px){
    .footer{
        position: absolute;
        bottom: 0;
    }
}
@media screen and (max-width:860px){
    .contact-container{
        margin-left: 50px;
    }
}
@media screen and (max-width:500px){
    iframe{
        width: 80vw;
        height: 80vw;
    }
}