@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:wght@500&family=Roboto:wght@100&family=Varela+Round&display=swap');
/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
*/
body{
    overflow-x: hidden!important;
    min-height: 100vh;
    max-width: 100vw;
}
ul, li{
    list-style: none;
}
.navbar{
    background-color: #fffde800!important;
    max-width: 100vw;
    width: 100vw;
    min-height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
}
.nav-link{
    color: #68321B!important;
    font-family: 'Montserrat', sans-serif!important;
}
.logo{
    width: 180px;
}
.navbarNav{
    position: relative;
    right: 0;
}
.pages{
    flex-grow: unset!important;
}
.pages ul li{
    border-right: solid 1px black;
    line-height: 15px;
}
.nav-link{
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.contacto{
    border-right: none!important;
}
.social-media{
    margin-left: 30px;
    margin-right: 20px;
}
.social-media img{
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.social-media img:hover{
    cursor: pointer;
}
.footer{
    width: 100vw;
    background-image: url(../img/footer-bg2.png);
    padding-top: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif!important;
    margin-top: 100px;
}
.footer-container{
    display: block;
    text-align: center;
}
.info{
    margin-right: 2rem;
}
.footer-container .social-media img{
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-container .social-media{
    margin: auto;
}
.footer-container .social-media img{
    height: 30px;
}
.footer hr{
    width: 95%;
    margin-left: 2.5%;
}
.copyright{
    padding-bottom: 10px;
    width: 100vw;
    text-align: center;
}
.card{
    border: none!important;
}
.anime{
    opacity: 0;
    transition: .5s!important;
}
.down{
    transform: translate3d(0, 100px, 0);
}
.left{
    transform: translate3d(-100px, 0, 0);
}
.right{
    transform: translate3d(100px, 0, 0);
}
.anime-start{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
@media screen and (max-width:992px){
    .logo2{
        display: none;
    }
    .navbar-brand{
        margin-right: 0!important;
    }
    .navbar-collapse{
        text-align: center;
    }
    .navbar-nav{
        flex-direction: unset!important;
        justify-content: center;
    }
    .nav-link{
        padding-right: 0.5rem!important;
        padding-left: 0.5rem!important;
    }
    .pages ul li{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .pages .social-media{
        margin-top: 10px;
    }
    
}