section{
    font-family: 'Varela Round', sans-serif;
}
.container div h4, .container2 div h4{
    color: #68321B;
}
.container{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.container2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container img, .container2 img{
    width: 400px;
}
.container div, .container2 div{
    width: 500px;
    text-align: center;
    margin-top: 100px;
}
.container div p, .container2 div p{
    margin-top: 30px;
}
.footer{
    margin-top: 0;
}
@media screen and (max-width:400px){
    .container img, .container2 img, .container div, .container2 div{
        width: 95vw;
    }
}